.mainscreen {
    height: 100vh; /*95% of view port height*/
    background-color: tomato;
}

.imageclass {
    height: 1in;
    width: 1in;
}

.hiddenimageclass {
    visibility: hidden;
    height: 1in;
    width: 1in;
}

.bottomdiv {
    position:relative;
    height: 1.1in;
    width: 1.1in;
    bottom: 1.1in;
    left: 0in;
    background-color: blueviolet;
    border-color: black;
    border: 1px;
 }

.secondscreen {
    margin-top: 0.5in;
    height: 95vh;
    background-color: aquamarine;
}